<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../style.css">
    <script rel="script" src="../script.js" defer></script>
</head>
<body>
<form method="POST">
    <h1>User Homepage</h1>
    <div>
        Hello, {{ username }}.
    </div>
    <a href='logout'> Logout</a>

</form>
</body>
</html>